In [1]:
#print statement print the 
print("HI ABINASH")

HI ABINASH

In [12]:
if 5>2:
    print("five is greter than two!")

five is greter than two!

In [2]:
x="hello"
y="Abi"
print(x,y)

hello Abi

Casting

In [19]:
x=str(5655)
y=int(9594.6)
z=float(5495)

In [20]:
x,y,z

('5655', 9594, 5495.0)

In [26]:
print(type(x))
print(type(y))

<class 'str'>
<class 'int'>

In [35]:
#unpack collection
fruit=['banana','apple','guava']
a,b,c=fruit
print(a,b,c)
print(a,b,c,sep='\n')

banana apple guava
banana
apple
guava

In [36]:
#global variables
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [37]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [43]:
x="awesome"
def myfunc():
  global x
  x = "fantastic"
  print(x)
myfunc()

print("Python is " + x)

fantastic
Python is fantastic

In [44]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [52]:
def sum():
    global s,m
    s=38
    m=76
    l= s + m
    print(l)
    
sum()
print(s+m)

114
114

In [64]:
#Example	Data Type	
a = "Hello World"	#str	
b = 20	#int	
c = 20.5	#float	
d = 1j	#complex	
e = ["apple", "banana", "cherry"]	#list	
f = ("apple", "banana", "cherry")	#tuple	
g = range(6)	#range	
h = {"name" : "John", "age" : 36}	#dict	
i = {"apple", "banana", "cherry"}	#set	
j = frozenset({"apple", "banana", "cherry"})	#frozenset	
k = True	#bool	
l = b"Hello"	#bytes	
m = bytearray(5)	#bytearray	
n = memoryview(bytes(5))	#memoryview	
o = None	#NoneType

In [3]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

float

In [71]:
#randomnumbers
import random
print(random.randint(1,10))
print(random.randrange(1,10))

3
9

**string methods**

In [8]:
a = "hi hello"
A,B,C,D,E,F,G,H = a
print(A,B,C,D,E,F,G,H)

h i   h e l l o

In [14]:
#acess
str1='abinash'
str1[-1]
str1[-7]

'a'

In [19]:
#slice
str2="python id very easy to learn"
str2[15: :2]

'es olan'

In [28]:
str3='abinabinabi'
print(len(str3))
str3.partition('n')

11

('abi', 'n', 'abinabi')

In [22]:
print(str3.split("n"))

['abi', 'abi', 'abi']

In [29]:
str4=['abi','anu','ajay','alex']
n=' '.join(str4)

In [32]:
n.strip()

'abi anu ajay alex'

In [33]:
n.replace('a','s')

'sbi snu sjsy slex'

In [35]:
age = 36
txt = "My name is John, I am " + str(age)
print(txt)

My name is John, I am 36

In [36]:
age = 36
txt = f"My name is John, I am {age}"

In [39]:
txt='we are the so called \"viking\" from the earth'

In [42]:
txt.encode()

b'we are the so called "viking" from the earth'

In [44]:
txt.find("e")

1

***list***

In [58]:
lis1=["abi",1234,['a','b','c','d'],]
#append
lis1.append("aaaa")
type(lis1)
#acess
lis1[-3:]

[1234, ['a', 'b', 'c', 'd'], 'aaaa']

In [93]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [65]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [94]:
thislist.insert(3,"musambi")
thislist

['apple', 'blackcurrant', 'watermelon', 'musambi', 'orange', 'kiwi', 'mango']

In [95]:
#thislist.remove("musambi")
z=thislist.pop(2)
z

'watermelon'

In [97]:
thislist = ["apple", "banana", "cherry"]
tropical =[["mango", "pineapple", "papaya"]]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', ['mango', 'pineapple', 'papaya']]

In [98]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [100]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if x != "apple"]

print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [101]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [102]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [103]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [106]:
x = {"a", "b", "c"}
y = (1, 2, 3,)

z = x.union(y)
print(z)

{1, 2, 3, 'b', 'c', 'a'}

In [107]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'c', 'b', 'a'}

In [108]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [109]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [110]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'banana', 'cherry'}

In [113]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
#x = thisdict["model"]
x = thisdict.get("model")
x

'Mustang'

In [115]:
print(thisdict.keys())

dict_keys(['brand', 'model', 'year'])

In [116]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [117]:
thisdict.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [122]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

In [125]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [124]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

In [12]:
#controlflow
#conditional statement
#which one is greater
a=int(input())
b=int(input())
c=int(input())
if a > b > c:
    print(f'{a}  is greater')
elif b > c:
    print(f'{b}  is greater')
else:
    print(f'{c}  is greater')

6874 c is greater

In [21]:
#grading
tm=int(input())

if 100 >= tm >= 95:
    print("S")
elif 90 <= tm < 95:
    print('A')
elif 80 <= tm < 90:
    print('B')
elif 70<= tm < 80:
    print("c")
elif 50<=tm<70:
    print('D')
elif tm>100:
    print('you entered worng big number')
else:
    print("Fail")

D

In [25]:
#short hand if
a,b=map(int,input("enter the numbers: ").split())
print("a is greater than b") if a>b else print('b is equal to a') if a==b else print('b is greater')

a is greater than b

In [28]:
a,b=10,100
print(1) if a==b else print(2) if a>b else print(3)

3

In [33]:
#lambdafunctions
def add(a,b):
    return lambda c: a+b +c
add1=add(3,7)

print(add1(12))

22

In [30]:
add=lambda a,b,c: a+b+c
print(add(2,3,4))

9

In [35]:
newlist=[]
for x in range(0,10):
    print(x)
    newlist.append(x)
print(newlist)

0
1
2
3
4
5
6
7
8
9
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
newlist= [lambda value=x:value for x in range(0,10)]
newlist
for y in newlist:
    print(y())

0
1
2
3
4
5
6
7
8
9

In [41]:
def age(a):
    print("i am",a,"years old")

age(23)

i am 23 years old

In [47]:
age=lambda a:print("i am",a,"years old")

age(23)

i am 23 years old

In [49]:
def add(a):
    return a+10
ans=add(20)
print(ans)

30

In [50]:
add=lambda a: a+10

In [62]:
str1 = ["Happy", "Learning"]
up = [word.upper() for word in str1]

print(up)  # Output: ['HAPPY', 'LEARNING']

['HAPPY', 'LEARNING']

In [66]:
cu= lambda y :y*y*y

print("the cube root  is", cu(5) )

the cube root  is 125

In [3]:
#map,filters
numbers=["33","45","1","2","3"]
print(type(numbers[0]))
numbers=list(map(int,numbers))
print(numbers)
print(type(numbers[0]))

<class 'str'>
[33, 45, 1, 2, 3]
<class 'int'>

In [13]:

num=[1,2,3,4,5,6]
num=list(map(square,num))

ImportError: cannot import name 'square' from 'math' (unknown location)

In [16]:
def add(n):
    return n+n
numbers = [1,2,3,4,5]
num=[]
for x in numbers:
    num.append(add(x))

print(num)

[2, 4, 6, 8, 10]

In [35]:
numbers=[1,2,3,4,5,6,7,8,9]
#numbers=list(map(add,numbers))

In [36]:
numbers=list(map(lambda x:x*x,numbers))
numbers

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [38]:
num1=[10,20,30]
num2=[20,30,10]
num3=list(map(lambda x,y: x+y,num1,num2))
print(num3)

[30, 50, 40]

In [42]:
num=[23,4,24,454,235,32,]
eve=list(map(lambda x:x%2==0,num))
eve

[False, True, True, True, False, True]

In [47]:
def even(num):
    if num %2==0:
        return True
    else:
        return False
    
numbers=[1,2,3,4,5]
result=list(filter(even,numbers))
print(result)

[False, True, False, True, False]

In [50]:
numbers=[1,2,3,4,5,6,7,8,9]
even=list(filter(lambda x:x%2==0,numbers))
odd=list(filter(lambda x:x%2!=0,numbers))

print(even,odd)

[2, 4, 6, 8] [1, 3, 5, 7, 9]

In [53]:
#reduce
import functools

num =[1,2,3,4,5]
def func(a,b):
    return a+b

result= functools.reduce(func,num)
print(result)

15

In [56]:
def maxi(a,b):
    if a>b:
        return a
    else:
        return b


functools.reduce(maxi,num)

5

In [61]:
import functools
import operator

lis1=[1,3,5,7,9]
print("the sum of the list : ",end="")
print(functools.reduce(operator.add,lis1))

the sum of the list : 25